@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*Variables css*/

:root {
    --red-color:hsl(0, 78%, 62%);
    --light-blue-color:hsl(180, 62%, 55%);
    --yellow-color:hsl(34, 97%, 64%);
    --blue-color:hsl(212, 86%, 64%);
    --primary-color-font:hsl(234, 12%, 34%);
    --secundary-color-font:hsl(229, 6%, 66%);
    --neutral-white:hsl(0, 0%, 100%);
    --neutral-gray:hsl(0, 0%, 98%);
    --primary-font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: var(--neutral-gray);
    font-family: var(--primary-font-family);
    font-size: 15px;
}
.container{
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 500px;
    text-align: center;
}
.title, .title-option{
    color:var(--primary-color-font);
    font-size: 2rem;
}
.title{
    font-weight: 200;
}
.title-option{
    margin-bottom: 8px;
    font-weight: 600;
}
.text{
    margin-bottom: 18px;
    color:var(--secundary-color-font);
    font-weight: 400;
}
.card{
    width: 340px;
    border-radius: 8px;
}
.one{
    margin-right: 14px;
    background-color: var(--light-blue-color);
}
.two{
    margin-bottom: 14px;
    background-color: var(--red-color);
}
.three{
    background-color: var(--yellow-color);
}
.four{
    margin-left:14px ;
    background-color: var(--blue-color);
}
.card-content{
    margin-top: 4px;
    background-color: var(--neutral-white);
    box-shadow: 0 2px 10px 5px rgba(0,0,0,0.12);
    border-radius: 3px 3px 8px 8px;
}
.title-two{
    padding: 25px 30px 8px 30px;
    color:var(--primary-color-font);
    font-size: 200;
}
.text-two{
    padding: 0 20px 15px 30px;
    color:var(--secundary-color-font);
    line-height: 1.5;
}
.img{
    padding-right: 30px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
}

/*Footer*/
footer{
    margin-top: 8px;
   
    color: var(--primary-color-font);
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
   color: var(--primary-color-font);
   font-weight: 500;
}

/*Media queries*/
@media (max-width: 1099px) {
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .one{
        margin: 0 0 20px 0;
    }
    .two, .three, footer{
        margin-bottom: 20px;
    }
    .four{
        margin: 0 0 20px 0;
    }
    .title{
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .header{
        max-width: 350px;
    }
    .title, .title-option{
        font-size: 1.5rem;
    }
    .text{
        margin-left: 20px;
        margin-right: 20px;
    }
}

